player-connection-mode=Listen
player-connection-guid=3227218315
player-connection-debug=0
player-connection-project-name=CatProject
player-connection-ip=192.168.4.114
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=c66429c6d9f84877a2fd306d42e86c6f
